@page
@model OrderHistoryModel
@{
    ViewData["Title"] = "Order geschiedenis";
}

<div style="background: white; padding: 20px; border-radius: 10px;">
    <h1 style="text-align: center; font-family: Impact, sans-serif; font-size: 3em; color: springgreen;">
        Order geschiedenis
    </h1>

    <table class="table table-bordered table-striped mt-4">
        <thead>
            <tr>
                <th>Order</th>
                <th>Klant</th>
                <th>Datum</th>
                <th>Product(en)</th>
                <th>Totale Prijs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Customer</td>
                    <td>@order.Date.ToShortDateString()</td>
                    <td>
                        <ul>
                            @foreach (var p in order.Products)
                            {
                                <li>@p.Name (€ @p.Price)</li>
                            }
                        </ul>
                    </td>
                    <td>€ @order.Products.Sum(p => p.Price)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
